<% layout("/layout/boilerplate") %>

<div class="row">
  <div class="alert alert-danger offser-3 col-6" role="alert">
    This is a danger alert—check it out!
    <div class="alert"><%= message %></div>
  </div>
</div>
